/******************************************/
/*PAUL IRISH CSS BLOCK, DONT REMOVE*/

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
/******************************************/


/*************STYLE VARIABLES**************/
:root{
    --example-variable: #ffffff;
}

/*****Example Styles for default view******/
.text-center{
    text-align: center;
}